*{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.nav{
   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: beige;
}
.nav a{
    color: black;
    text-decoration: none;
    padding-left:10px ;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    padding: 6px,20px;
    background-color: beige;
    
    border-radius: 5px;
    margin-left: 5rem ;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 20px;
   
}
.item{
    position: relative;
}
.item img{
    padding: 10px;
}
h1{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    background-color: beige;
    padding-top: 15px;
}
.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.item:hover .caption {
    opacity: 1;
}

 
      

